/*

    alert.css

*/

.alert-location-label {
    padding-left: 15px;
    white-space: nowrap;
}

#alert-list-table-wrapper,
#contact-list-table-wrapper,
#history-list-table-wrapper {
    height: 728px;
    padding-right: 30px;
   /* padding-bottom: 10px;*/
}

.modal #detail-panel label {
    display: inline-block;
    width: 33%;
}


.modal #detail-panel > .panel-body {
    height: auto;
}

#popover-alert-form button.btn-dropdown {
    text-align: left;
}

body[data-context="alert/map"] #popover-alert-form button.btn-dropdown {
    width: 128px;
}

body[data-context="alert/list"] #popover-alert-form button.btn-dropdown {
    width: 151px;
}

body[data-context="alert/map"] #alert-new-geo {
    width: 152px;
}

body[data-context="alert/list"] #alert-new-geo {
    width: 175px;
}

section#secondary-panel button.btn-dropdown {
    text-align: left;
    width: 145px;
}

.add-alert-popover-inner .btn-dropdown{
    width: 236px;
    text-align: left;
}

section#sub-panel label {
    width: auto;
}

#alert-more-options-toggle small {
    font-size: 0.77em;
}
#alert-more-options {
    display: none;
}

#detail-panel .btn-dropdown {
    width: 170px;
    text-align: left;
}

#detail-panel .editable-input > input ,
#detail-panel .editable-input > select {
    width: 133px;
}

#detail-panel label ,
#detail-panel .editable-container {
    height: 30px;
}

#modal-alert-list hr {
    margin-top: 0;
}