{% extends "layout/layout-blank.html.twig" %}
    {% block main_panel %}

        <div class="well" style="width:400px;margin:40px auto">

            {% if ((login_restriction is defined) and (login_restriction == 'already_logged_in')) %}

                <div style="padding:20px">
                    You are all ready logged into the system. Please logout and try this page again.
                </div>

            {% else %}
                {% if error is defined %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                {% if success is defined %}
	            	<h4 style="margin-bottom:20px">Change Password</h4>
                    <div class="alert alert-success">{{ success.message }}</div>
                    <div style="float:right;">
                    	<a href="/login">Click here to login</a>
                    </div>
				{% else %}
	            	<h4 style="margin-bottom:20px">Change Password</h4>
	
	                <form id="forgotusername-form" role="form" action="" method="post">
	                	<p>Enter a new password.</p>
	                	
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder=""  maxlength="{{ validation.password.maxlength }}" />
                        </div>
	
	                    <button type="submit" class="btn btn-default">Submit</button>
	                </form>
                {% endif %}
                
            {% endif %}

        </div>
        <script>

            $(document).ready(function() {

                var lastRoute = Core.Cookie.get('last-route');

                if (lastRoute) {

                    var $hiddenInput = $('<input type="hidden" id="last-route" name="_last-route" value="'+lastRoute+'" />');

                    $('#login-form').append($hiddenInput);

                    Core.Cookie.clear('last-route');
                }

            });


        </script>

        <!-- MAIN-PANEL BEGIN  -->
        <!--div id="main-content">
            <div id="content-1" class="active map-content panel-content">

                Login

            </div>
        </div-->
        <!-- MAIN-PANEL END  -->
    {% endblock %}
    {% block secondary_panel %}
        <!-- SECONDARY-PANEL BEGIN  -->

        <!-- SECONDARY-PANEL END  -->
    {% endblock %}