                            {#
                                TODO: This partial is not used - ok to delete
                            #}
                            <h3>Group Management</h3>
                            <form role="form">
                                <div class="form-group">
                                    <label for="select-vehicle-group">Group:</label>
                                    <select id="select-vehicle-group" class="form-control">
                                        <option value="default" selected="selected">None</option>
                                        <option value="group-id-1">Group 001</option>
                                        <option value="group-id-2">Group 002</option>
                                        <option value="group-id-3">Group 003</option>
                                        <option value="group-id-4">Group 004</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button type="button" id="btn-rename-group" class="btn btn-default btn-sm">Rename</button>
                                        <button type="button" id="btn-delete-group" class="btn btn-default btn-sm">Delete</button>
                                    </div>
                                </div>

                            </form>