<div class="center" style="width:100%;">

{#}
	<table style="width:100%;">
		<tr>
			<td class="text-left text-12">
				<span id="label_address" class="text-blue"></span>
			</td>
		</tr>
		<tr>
			<td class="text-left text-12">
				<span id="label_event" class="text-red"></span>
				&nbsp;
				<span id="label_time" class="text-black"></span>
			</td>
		</tr>
	</table>
{#}

	<div class="center" style="margin-top:10px;margin-bottom:6px;">
		<button class="btn btn-primary btn-command" id="starter-enable">Starter Enable</button>
		&nbsp;
		<button class="btn btn-danger btn-command" id="starter-disable">Starter Disable</button>
{#}
		&nbsp;
		<button class="btn btn-primary btn-command" id="reminder-off">Reminder Off</button>
		&nbsp;
		<button class="btn btn-danger btn-command" id="reminder-on">Reminder On</button>
{#}
	</div>

</div>
