<div class="center" style="margin-top:5px;">

	<table>
		<tr>
			<td class="output text-right text-normal">
				confirm
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td><button class="btn btn-danger btn-command pull-left" id="execute">EXECUTE</button></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td><a href="javascript:void(0);" class="text-grey navigation" id="buttons">cancel</a></td>
		</tr>
	</table>

</div>
