    <div class="vcenter">

        <div class="clearfix">&nbsp;</div>

        <img class="center logo" src="/assets_responsive/img/mobile.png">

        <div class="clearfix">&nbsp;</div>

        <div class="center login-element-container">
            <h1 class="text-center text-white">Forgot Password</h1>
        </div>

        <div class="clearfix">&nbsp;</div>

        <form action="/mobile" method="post">

            <div class="center login-element-container">
                <input type="hidden" id="_remind_pswd" name="_remind_pswd" class="form-control input-lg" placeholder="1" maxlength="1" value="1">
                <input type="text" id="__username" name="__username" class="form-control input-lg" placeholder="Username" maxlength="{{ validation.username.maxlength }}">
            </div>
    
            <div class="clearfix"></div>

            <div class="center login-element-container">
                <button type="submit" class="btn btn-primary btn-huge">Send Password</button>
            </div>

        </form>

        <div class="clearfix"></div>

        <div class="center login-element-container">
            <small>
                <a href="javascript:void(0);" id="forgotusername" class="navigation">Forgot Username?</a>
                &nbsp;|&nbsp;
                <a href="javascript:void(0);" id="login" class="navigation">Return to Login</a><p/>
            </small>
        </div>

    </div>
