<div class="table-responsive">
    <div class="dataTables_wrapper form-inline" role="grid">
        <div id="vehicle-group-table" class="noborder report-master">
            {% include('partial/report-mobile.html.twig') %}
		</div>
	</div>
</div>
