    <!-- Tools Container -->
    <div id="logout-container">

        <div class="clearfix">&nbsp;</div>

        <form action="/mobile" method="post">

            <div class="center login-element-container">
                <input type="hidden" id="_logout" name="_logout" class="form-control input-lg" placeholder="1" maxlength="1" value="1">
                <button type="submit" class="btn btn-primary btn-huge">Log Out</button>
            </div>

        </form>

        <div class="clearfix">&nbsp;</div>

        <div class="center login-element-container">
            <small>
                <a href="javascript:void(0);" id="tools" class="navigation">Back</a>
            </small>
        </div>

    </div>
