<div id="quick-actions" class="pull-right">
    {% if access.alert.write %}
        <div class="block-options pull-right">
            <a href="#modal-add-alert" data-toggle="modal" onclick="Core.ClearForm('alert-add');" style="margin-right:15px;"><i class="gi gi-plus wtext"></i> ALERT</a>
        </div>
    {% endif %}
</div>
