                    <div class="block-options pull-right">
                        <a href="#modal-batch-commands" data-toggle="modal" data-placement="bottom" onclick="Core.ClearForm('batch-commands');" title="Create Command Batch" style="margin-right:15px;"><i class="gi gi-plus"></i> CREATE COMMAND BATCH </a>
                        <a href="#modal-batch-upload" data-toggle="modal" data-placement="bottom" onclick="Core.ClearForm('batch-upload');" title="Upload Command Batch" style="margin-right:15px;"><i class="gi gi-plus"></i> IMPORT COMMAND BATCH </a>
                    </div>
