    <div class="sidebar-content">
    	<div style="padding:10px;">
        	<a href="#">
            	<img src="/assets_responsive/img/logo.png">
			</a>
    	</div>

        <!-- Wrapper for scrolling functionality -->
        <div class="sidebar-left-scroll">

            <ul class="nav nav-tabs push" data-toggle="tabs">
                <li class="active" style="font-size:10px;"><a href="#tab-search" id="tab-search-link" style="padding:5px;">Search</a></li>
                <li style="font-size:10px;"><a href="#tab-filter" id="tab-filter-link" style="padding:5px;">Filter</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-search">
                	<form action="#" method="post" class="sidebar-search">
                        <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search...">
                    </form>
                </div>
                <div class="tab-pane" id="tab-filter">
                	<div class="col-sm-12" style="margin-top:10px;">
                		<small>Group:</small>
                        <select id="bordered-select" name="bordered-select" class="form-control" size="1">
                            <option value="all">All</option>
                        {% for g in vehicle_groups %}
            				<option value="{{ g.unitgroup_id }}">{{ g.unitgroupname }}</option>
                        {% endfor %}
                        </select>
                	</div>
    
                	<div class="col-sm-12" style="margin-top:10px;">
                		<small>Status:</small>
                        <select id="bordered-select" name="bordered-select" class="form-control" size="1">
                            <option value="all">All</option>
                        {% for d in device_status %}
                            <option value="{{ d.unitstatus_id }}">{{ d.unitstatusname }}</option>
                        {% endfor %}
                        </select>
                	</div>
                </div>
            </div>

        </div>
        <!-- END Wrapper for scrolling functionality -->
    </div>