        <!-- HELP-PANEL BEGIN  -->
            <span class="help-toggle">
                <span class="glyphicon glyphicon-book"></span>
                {#<span><a>help</a></span>#}
            </span>
           <div class="container">
               <h4>Virtual Assistant</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               <p>Nullam porttitor, tortor id placerat placerat, risus urna consequat dolor, id fringilla nisl urna placerat lorem.</p>
               <p>Etiam tempus metus nisl, ut placerat turpis euismod sit amet. Nunc posuere consequat eros, sed placerat justo lobortis quis. Praesent nibh nisi, malesuada quis mattis non, porta ut velit. Fusce lobortis ut felis eu vestibulum. Etiam vel dictum mi, et faucibus dolor. Vivamus et urna mattis, venenatis dolor ac, feugiat tortor. Quisque ultrices consequat erat eget iaculis. Etiam adipiscing in arcu vitae ornare. Vivamus tempus enim id vestibulum gravida. Sed varius pretium pellentesque. Suspendisse in dui felis. </p>
           </div>
       <!-- HELP-PANEL END  -->