            <div class="modal modal-dialog-map fade" id="modal-map-container" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-pronounce">
                            <div class="modal-header clearfix">
                                <div class="pull-left">
                                    <h5 id="modal-map-title" class="modal-title">Map</h5>
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div id="modal-map-hook" style="height:600px;">
                                    <!-- use this div for map hook -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
