<noscript>
    <div class="alert alert-danger">
        <p><span class="glyphicon glyphicon-flash"></span>&nbsp;Javascript is required for this application but is currently disabled. For more information, please contact your System Administrator.</p>
    </div>
</noscript>