    <div class="modal fade" id="modal-repo-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-pronounce">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title clearfix">Edit Repossession Link</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="control-label pull-right" for="vehicle-group" style="margin-top:7px;">URL:</label>
                            </div>
                            <div class="col-control col-lg-9 col-md-9 col-sm-9 col-xs-9 wizard-div">
                                <input type="text" class="form-control repo-edit-input" id="repo-edit-url" placeholder="URL" disabled>
                            </div>
                            <div class="col-offset col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                        <div class="clearfix row">&nbsp;</div>
                        <div class="row">
                            <div class="col-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="control-label pull-right" for="vehicle-group" style="margin-top:7px;">Name:</label>
                            </div>
                            <div class="col-control col-lg-9 col-md-9 col-sm-9 col-xs-9 wizard-div">
                                <input type="text" class="form-control repo-edit-input" id="repo-edit-name" placeholder="Company / Contact Name">
                            </div>
                            <div class="col-offset col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                        <div class="clearfix row">&nbsp;</div>
                        <div class="row">
                            <div class="col-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="control-label pull-right" for="vehicle-group" style="margin-top:7px;">Email:</label>
                            </div>
                            <div class="col-control col-lg-5 col-md-5 col-sm-5 col-xs-5 wizard-div">
                                <input type="text" class="form-control repo-edit-input" id="repo-edit-email" placeholder="Email Address" disabled>
                            </div>
                            <div class="col-offset col-lg-5 col-md-5 col-sm-5 col-xs-5 text-grey">
                                URLs sent via Email.
                            </div>
                        </div>
                        <div class="clearfix row">&nbsp;</div>
                        <div class="row">
                            <div class="col-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="control-label pull-right" for="vehicle-group" style="margin-top:7px;">Phone:</label>
                            </div>
                            <div class="col-control col-lg-5 col-md-5 col-sm-5 col-xs-5 wizard-div">
                                <input type="text" class="form-control repo-edit-input" id="repo-edit-phone" placeholder="Phone Number">
                            </div>
                            <div class="col-offset col-lg-5 col-md-5 col-sm-5 col-xs-5 text-grey">
                                For admin reference only. Not supported by Text Messaging.
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix"></div>
                    <div class="modal-footer">
                        <div class="col-md-1 pull-right">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="repo-edit-cancel">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
