
	<h1>PREVIEW ORDER</h1>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Representative:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-rep"></div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Customer:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-customer"></div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Order:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-order"></div>
	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Shipping:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-shipandhandle"></div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Grand&nbsp;Total:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-total"></div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Notes:&nbsp;</span></label>
	<div class="col-md-7 preview" id="preview-notes"></div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<div class="col-md-10">
		<button id="btn-preview" class="btn btn-warning pull-right">CONFIRM</button>
	</div>

	<div class="col-md-2">
		<button id="btn-preview-back" class="btn btn-default pull-left">Back</button>
	</div>
