
	<h1>REPRESENTATIVE</h1>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Sales Rep:&nbsp;</span></label>
	<div class="col-md-7">
		<input id="rep-email" class="form-control" placeholder="Email Address">
	</div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<label class="control-label col-md-3 control-label vertical-center"><span class="pull-right">Password:&nbsp;</span></label>
	<div class="col-md-7">
		<input id="rep-password" class="form-control" type="password">
	</div>

	<div class="clearfix col-md-12 row">&nbsp;</div>

	<div class="col-md-10">
		<button id="btn-rep" class="btn btn-primary pull-right">Continue</button>
	</div>
