
    <nav class="collapse navbar navbar-default navbar-fixed-bottom navbar-inverse navbar-gradient" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse clearfix">
            <div id="system-message" class="collapsed">
                <div class="container">
                    <p><span id="system-message-type"></span>:&nbsp;<span id="system-message-text"></span></p>
                </div>
            </div>
            <div id="status" class="ok pull-right">
                <span>Status:</span>
                <img src="/assets/media/images/system-ready.png" alt="Loading...">
            </div>
        </div>
    </nav>
