
<div class="nav" id="user-list-search-tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user-type-search-tab" data-toggle="tab">Search</a></li>
    </ul>
</div>
<form role="form">
    <div class="tab-content">
        <div id="user-type-search-tab" class="tab-pane fade in active">
            <div class="form-group">
                <label for="text-user-type-search">Search:</label>

                <div class="input-group input-group-sm">

                    <input id="text-user-type-search" type="text" class="form-control" />
                    <span class="input-group-btn">
                        <button id="user-type-search-go" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />