

            <!-- Sidebar Content -->
            <div class="sidebar-content">
            	<div style="padding:10px;">
	            	<a href="#">
	                	<img src="/assets_responsive/img/logo.png">
					</a>
            	</div>

                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-left-scroll">

	                <!-- Default Working Tabs Content -->
	                <ul class="nav nav-tabs push" data-toggle="tabs">
	                    <li class="active" style="font-size:10px;"><a href="#tab-search" style="padding:5px;">Search</a></li>
	                  <!--  <li style="font-size:10px;"><a href="#tab-filter" style="padding:5px;">Filter</a></li> -->
	                </ul>
	                <div class="tab-content">
	                    <div class="tab-pane active" id="tab-search">
	                    	<form action="#" method="post" class="sidebar-search">
			                    <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search...">
			                </form>
	                    </div>
	                  <!--  <div class="tab-pane" id="tab-filter">
	                    	<div class="col-sm-12">
	                    		<small>Group:</small>
			                    <select id="bordered-select" name="bordered-select" class="form-control" size="1">
	                                <option value="0">All</option>
	                                <option value="1">Group #1</option>
	                                <option value="2">Group #2</option>
	                                <option value="3">Group #3</option>
	                            </select>
	                    	</div> -->
	                    	<div class="col-sm-12" style="margin-top:10px;">
	                    		<small>Status:</small>
			                    <select id="bordered-select" name="bordered-select" class="form-control" size="1">
	                                <option value="0">All</option>
	                                <option value="1">Status #1</option>
	                                <option value="2">Status #2</option>
	                                <option value="3">Status #3</option>
	                            </select>
	                    	</div>
	                    </div>
	                </div>
	                <!-- END Default Working Tabs Content -->
	                
	                <div style="margin-top:20px; margin-bottom:20px; padding-right:10px; padding-left:10px;">
	                	<h4> </h4>
	                </div>
	                
	                <!-- Categories -->
                    <div class="col-sm-12 col-md-12 block-section ms-categories">
                    
                    </div>
                    <!-- END Categories -->
                    
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Sidebar Content -->
