{% extends "layout/layout.html.twig" %}
{% block header %}
    <!-- HEADER BEGIN  -->

    <!-- HEADER END  -->
{% endblock %}
{% block main_panel %}
    <!-- MAIN-PANEL BEGIN  -->
    <div class="container row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ error_title }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ error_text }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <!-- MAIN-PANEL END  -->
{% endblock %}
{% block secondary_panel %}
    <!-- SECONDARY-PANEL BEGIN  -->

    <!-- SECONDARY-PANEL END  -->
{% endblock %}
{% block help_panel %}
    <!-- HELP-PANEL BEGIN  -->

    <!-- HELP-PANEL END  -->
{% endblock %}
{% block footer %}
    <!-- FOOTER BEGIN  -->

    <!-- FOOTER END  -->
{% endblock %}