{% extends "layout/layout.html.twig" %}

{% block main_panel %}
    <!-- MAIN-PANEL BEGIN  -->

        <div id="fx-container" class="fx-opacity">
            <!-- Page content -->
            <!-- Block Tabs -->
            <div class="block block-tabs full">
                <!-- Block Tabs Title -->
                <div class="block-title">
                    <div id="quick-actions" class="pull-right">
                    {% if access.alert.write %}
                        <div class="block-options pull-right">
                            <a href="#modal-add-alert" data-toggle="modal" onclick="Core.ClearForm('alert-add');" style="margin-right:15px;"><i class="gi gi-plus wtext"></i> ALERT</a>
                        </div>
                    {% endif %}
                    </div>
    
                    <ul id="secondaryNav" class="nav nav-tabs">
                        {% for item in secondary_navigation %}
                            <li {% if route == item.route  %}class="active"{% endif %}><a href="/{{ item.route }}">{{ item.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- END Block Tabs Title -->
                <!-- END Block Tabs -->

                <div class="table-options clearfix">
                	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">
                        <h3 class="heading1">History</h3>
                    </div> 
                	<div class="col-md-8 col-lg-8 col-sm-8 col-xs-6">
                		<div class="btn-group btn-group-sm pull-right" style="display:none;">
                			<a href="#modal-download-pdf" class="btn btn-primary" data-toggle="modal" data-placement="left" title="Export PDF" ><i class="fa fa-print"></i></a>
                			<a href="#modal-export-csv" class="btn btn-primary" data-toggle="modal" title="Export CSV"><i class="hi hi-export"></i></a>
                		</div>
                	</div>
                </div>

                <!-- END Table Options -->
                <div class="table-responsive">
                    <div class="dataTables_wrapper form-inline" role="grid">
                        <div id="alert-history-table" class="noborder report-master">
                            {% include('partial/report-table.html.twig') %}
{#}
                    <table id="alert-history-example-datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="font-size:14px;">Device Date & Time</th>
                                <th style="font-size:14px;">Processed Date & Time</th>
                                <th style="font-size:14px;">Alert Type</th>
                                <th style="font-size:14px;">Alert Name</th>
                                <th style="font-size:14px;">Address</th>
                                <th style="font-size:14px;">Vehicle Name</th>
                                <th style="font-size:14px;">Contacts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>08:48 AM 07/10/2014</td>
                                <td>08:50 AM 07/10/2014</td>
                                <td>Landmark</td>
                                <td>New Impound Alert</td>
                                <td>(Office Landmark) Spectrum Pointe Dr, Lake Forest, CA</td>
                                <td> </td>
                                <td>Firstname Lastname</td>
                            </tr>    
                        </tbody>
                    </table>
{#}
                        </div>
                    </div>
                </div>

            <!-- END FX Container -->

        </div>

    <!-- MAIN-PANEL END  -->
{% endblock %}


{% block secondary_panel %}
    <!-- SECONDARY-PANEL BEGIN  -->
        {% include('partial/alert-sidebar.html.twig') %}
    <!-- SECONDARY-PANEL END  -->
{% endblock %}


{% block modals %}
    <!-- MODAL BEGIN -->
        {% include('partial/alert-modals.html.twig') %}
    <!-- MODAL END -->
{% endblock %}


{% block scripts_panel %}
    <script src="/assets_responsive/js/alert.js"></script>
{% endblock %}