/*
 *  Document   : themes.css
 *  Author     : dv
 *  Description: The themes stylesheet of the template. The classes can be used to
 *  alter the color, the background color or the border color of an element individually
 *
 */

/*
=================================================================
#83c240 - THEME DEFAULT
=================================================================
*/

.themed-color-default {
    color: #83c240 !important;
}

.themed-background-default {
    background-color: #83c240 !important;
}

.themed-border-default {
    border-color: #83c240 !important;
}

/*
=================================================================
#4da2db -THEME RIVER
=================================================================
*/

.themed-color-river {
    color: #4da2db !important;
}

.themed-background-river {
    background-color: #4da2db !important;
}

.themed-border-river {
    border-color: #4da2db !important;
}

/*
=================================================================
#b96ad9, #9b59b6 -THEME positionplus
=================================================================
*/

.themed-color-positionplus {
    color: #b96ad9 !important;
}

.themed-background-positionplus {
    background-color: #9b59b6 !important;
}

.themed-border-positionplus {
    border-color: #9b59b6 !important;
}

/*
=================================================================
#e74c3c -THEME DRAGON
=================================================================
*/

.themed-color-dragon {
    color: #e74c3c !important;
}

.themed-background-dragon {
    background-color: #e74c3c !important;
}

.themed-border-dragon {
    border-color: #e74c3c !important;
}

/*
=================================================================
#34c26f, #39d179 -THEME EMERALD
=================================================================
*/

.themed-color-emerald {
    color: #34c26f !important;
}

.themed-background-emerald {
    background-color: #39d179 !important;
}

.themed-border-emerald {
    border-color: #39d179 !important;
}

/*
=================================================================
#93c22f, #a6db34 -THEME GRASS
=================================================================
*/

.themed-color-grass {
    color: #93c22f !important;
}

.themed-background-grass {
    background-color: #a6db34 !important;
}

.themed-border-grass {
    border-color: #a6db34 !important;
}

ul.nav-tabs li a {
     color:#83c240;  
 }


ul.nav-tabs li a:hover { 
   color:#fff;  
    
}


.header-nav span {
    color:#ff9600;
}

/*

ul.pagination i.fa {
color:#83c240
} */


.sidebar-left-scroll ul.nav-tabs a:hover {
    color:#5f8f2f;
    
}

h3.heading1 {
  margin-top:0px;  
    
}


.wtext .gi, .wtext {
margin-top:-6px;
}


.modal-small {
 width:500px;   
    
}

.note {
    padding:15px;
    
}


.modal-body input, .modal-body select {
    
margin-top: 0px !important;

}